@import '@fontsource-variable/dm-sans';
@source '../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}';
@import '@cloudflare/kumo/styles/tailwind';
@import 'tailwindcss';

@theme {
  --font-sans: 'DM Sans Variable', 'DM Sans', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    margin: 0;
  }
}
